.button {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  text-decoration: none;
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  background: #e44848;
  margin: 55px auto;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: #D84343;
}
