.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: auto;
}

.modal {
  position: relative;
  top: 40px;
  left: 18%;
  min-height: 720px;
  width: 982px;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 20px;
  z-index: 1010;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
}
.modalContainer::-webkit-scrollbar {
  width: 8px;
}
.modalContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.modalContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.modalContainer::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.modalContainer {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 40px;
  width: 982px;
  max-height: 100vh;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #101828;
}
.closeIcon {
  fill: none;
  stroke: currentColor;
  transition: transform 0.5s;
}
.closeIcon:hover {
  transform: rotate(90deg);
}
.closeBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}

.reviews {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
  padding-left: 4px;
}
.rating {
  padding-top: 8px;
}
.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.locationIcon {
  fill: none;
  stroke: currentColor;
  margin-left: 16px;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #101828;
  padding-top: 16px;
}
.imageGallery {
  display: flex;
  gap: 16px;
  padding-top: 24px;
}
.galleryImage {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid transparent;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  padding-top: 24px;
}
.tabs {
  display: flex;
  gap: 40px;
  padding-top: 44px;
}
.tabLink {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.tabLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 5px;
  background-color: #e44848;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tabLink.active::after {
  opacity: 1;
}
.line {
  margin-top: 24px;
  font-size: 250%;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  padding-bottom: 0px;
  width: 902px;
}
