.loadMoreButton {
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 10px;
  width: 145px;
  height: 56px;
  cursor: pointer;
  background-color: #fff;
  transition: border 0.3s;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #101828;
}
.loadMoreButton:hover,
.loadMoreButton:active {
  border: 1px solid #e44848;
}
.campervansContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 44px;
}
.noResults {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #101828;
  text-align: center;
  margin-left: 300px;
}
.loader {
  padding-top: 70px;
  margin: 0 auto;
}
